<!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <span class="redirect" routerLink="/sign-in">Log In</span></span
        >
      </div>
    </div>
  </div> -->
  <form [formGroup]="add" fxLayout="column" fxLayoutAlign="center stretch" style="max-width: 30vw;">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="userEmail" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="userPwd" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password Confirm</mat-label>
      <input type="password" formControlName="userPwd2" matInput>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-flat-button color="primary" [disabled]="!add.valid" [mat-dialog-close]="true" (click)="submit()">Add
        {{type}}</button>
    </mat-dialog-actions>
    <mat-label>The user gets a mail in his/her inbox that needs to be confirmed before login works</mat-label>
  </form>