<mat-accordion>
  <mat-expansion-panel (opened)="get()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Current club settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="add" fxLayout="column" fxLayoutAlign="center stretch">
      <mat-form-field appearance="fill">
        <mat-label>Theme title</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Club location</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let club of clubs" [value]="club.name">{{ club.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <input style="width: 100%;" #imageInput id="file-upload" type="file"
        accept="image/x-png,image/jpeg,image/jpg,image/gif" (change)="fileChangeEvent($event)" #fileUpload>
      <a mat-flat-button color="accent" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>Upload image
      </a>
      <div class="img-banner">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Click to see image
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="img-wrapper">
              <img mat-card-image name="image" [src]="croppedImage" *ngIf="croppedImage; else fillerImage">
              <mat-card>
                <mat-card-title>Cropped</mat-card-title>
              </mat-card>
              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 5"
                format="png" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()"></image-cropper>
              <ng-template #fillerImage>
                <img mat-card-image src="{{data.image}}">
              </ng-template>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
    <button fxFill="50" mat-flat-button color="success" [disabled]="!add.valid" (click)="submit()">Save theme
      image</button>
  </mat-expansion-panel>
</mat-accordion>
