$primaryBgColor: var(--bg-primary-color);
$primaryTextColor: var(--primary-text-color);
$secTextColor: var(--secondary-text-color);
$fontFamily: var(--text-font-family);

/* Styles for tab labels */
a {
    color: $primaryTextColor !important;
}

/* Styles for the active tab label */
a:active {
    font-weight: 500;
    color: $secTextColor;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: red;
}
.mat-tab-nav-bar {
    background-color: black;
}

.remove-border-bottom .mat-tab-header {
    border-bottom: none;
}