<!-- <nav fxLayout="column" fxLayoutAlign="space-around center" mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" routerLinkActive="active_route" [routerLink]="link.link" #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav> -->
<!-- <mat-tab-group animationDuration="200ms" mat-align-tabs="center">
  <mat-tab *ngFor="let link of navLinks" label="{{link.label}}">
    <ng-template mat-tab-label>
      <span class="custom-label" (click)="moveToSelectedTab(link.link)">{{link.label}}</span>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->
<nav class="navvy">
  <ul>
    <li *ngFor="let link of navLinks" class="item"><a [routerLink]="link.link">{{link.label}}</a></li>

  </ul>
</nav>