<!-- <nav class="nav">
  <div class="nav-logo">
    <a href="#">
      <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="21" cy="21" r="20" fill="#155B4A" stroke="#00FFB3" stroke-width="2" />
      </svg>
    </a>
  </div>
  <ul class="nav__list">
    <li>
      <a class="active" href="#about">HOME</a>
    </li>
    <li>
      <a href="#about">MANAGEMENT</a>
    </li>
    <li>
      <a href="#about">STAFF</a>
    </li>
    <li>
      <a href="#about">DANCERS</a>
    </li>
    <li>
      <a href="#about">SERVICES</a>
    </li>
    <li>
      <a href="#about">VIP</a>
    </li>
    <li>
      <a href="#about">BAR MENU</a>
    </li>
    <li>
      <a href="#experience">RULES</a>
    </li>
    <li>
      <a href="#projects">PARTNERS</a>
    </li>
    <li>
      <a href="#contact">JOIN DISCORD</a>
    </li>
  </ul>
</nav> -->
<mat-tab-group class="remove-border-bottom" animationDuration="2000ms" mat-align-tabs="center">
  <mat-tab label="HOME">HOME</mat-tab>
  <mat-tab label="MANAGEMENT">MANAGEMENT</mat-tab>
  <mat-tab label="STAFF">STAFF</mat-tab>
  <mat-tab label="DANCERS">DANCERS</mat-tab>
  <mat-tab label="SERVICES">SERVICES</mat-tab>
  <mat-tab label="VIP">VIP</mat-tab>
  <mat-tab label="BAR MENU">BAR MENU</mat-tab>
  <mat-tab label="RULES">RULES</mat-tab>
  <mat-tab label="PARTNERS">PARTNERS</mat-tab>
  <mat-tab label="JOIN DISCORD">JOIN DISCORD</mat-tab>
</mat-tab-group>
