<ng-container *ngIf="!showLoader">
  <div *ngIf="this.authService.isLoggedIn == true">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="this.authService.isLoggedIn == false">
    <app-navbar></app-navbar>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <router-outlet>
        <div fxLayoutAlign="center center" *ngIf="loaderService.isLoading | async" class="loader-container">
          <mat-spinner strokeWidth="3" diameter="40" color="light-primary-text"></mat-spinner>
        </div>
      </router-outlet>
    </div>
  </div>
</ng-container>
<app-loader *ngIf="showLoader"></app-loader>
