<div class="wrapper-front">
  <mat-card class="front-card">
    <img mat-card-image src="../../../assets/images/{{type}}.webp">
    <mat-card-title>{{type}}</mat-card-title>
  </mat-card>
  <div *ngFor="let data of datas">
    <div>
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{data.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{data.image}}" alt="NO IMAGE WTF">
        <mat-card-content>
          <p>
            {{data.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
