  <!-- <mat-toolbar *ngIf="authService.userData as user">
    <span>Hello, {{user.email}}</span>
    <span class="example-spacer"></span>
    
    <button (click)="authService.SignOut()" mat-flat-button color="warn">Logout</button>
  </mat-toolbar>
  <div class="list-wrapper">
    <app-dancer-list></app-dancer-list>
    <app-staff-list></app-staff-list>
  </div>
   -->
  <mat-toolbar *ngIf="authService.userData as user">
    <div class="example-button-container">
      <button mat-mini-fab color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab (click)="state = 'register'" matTooltip="Register a new Administrator"
        matTooltipPosition="right">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    <span class="example-spacer"></span>
    <div class="example-button-container">
      <button mat-mini-fab (click)="state = 'home'">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab color="warn" matTooltip="Logout from current user" matTooltipPosition="left"
        (click)="authService.SignOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer-content>
      <div class="list-wrapper">
        <app-home-admin *ngIf="state=='home'"></app-home-admin>
        <app-register *ngIf="state=='register'"></app-register>
        <app-management-list *ngIf="state=='management'"></app-management-list>
        <app-dancer-list *ngIf="state=='dancer'"></app-dancer-list>
        <app-services-list *ngIf="state=='services'"></app-services-list>
        <app-club-list *ngIf="state=='staff'"></app-club-list>
        <app-bar-list *ngIf="state=='bar'"></app-bar-list>
        <app-partner-list *ngIf="state=='partners'"></app-partner-list>

      </div>
    </mat-drawer-content>
    <mat-drawer #drawer mode="over" opened="true" >
      <div class="button-wrapper">
        <button mat-flat-button color="primary" (click)="state = 'management'">MANAGEMENT</button>
        <button mat-flat-button color="primary" (click)="state = 'staff'">CLUBS/STAFF</button>
        <button mat-flat-button color="primary" (click)="state = 'dancer'">DANCERS</button>
        <button mat-flat-button color="primary" (click)="state = 'services'">SERVICES</button>
        <button mat-flat-button color="primary" (click)="state = 'vip'">VIP</button>
        <button mat-flat-button color="primary" (click)="state = 'bar'">BAR MENU</button>
        <button mat-flat-button color="primary" (click)="state = 'rules'">RULES</button>
        <button mat-flat-button color="primary" (click)="state = 'partners'">PARTNERS</button>
      </div>
    </mat-drawer>
  </mat-drawer-container>
