<mat-accordion color="primary">   
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dancers
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.key}}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>age</th>
          <td mat-cell *matCellDef="let element">{{element.age}}</td>
        </ng-container>
    
        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef>language</th>
          <td mat-cell *matCellDef="let element">{{element.language}}</td>
        </ng-container>
    
        <ng-container matColumnDef="nsfw">
          <th mat-header-cell *matHeaderCellDef>nsfw</th>
          <td mat-cell *matCellDef="let element">{{element.nsfw}}</td>
        </ng-container>
    
        <ng-container matColumnDef="orientation">
          <th mat-header-cell *matHeaderCellDef>orientation</th>
          <td mat-cell *matCellDef="let element">{{element.orientation}}</td>
        </ng-container>

        <ng-container matColumnDef="sexual preference">
          <th mat-header-cell *matHeaderCellDef>sexual preference</th>
          <td mat-cell *matCellDef="let element">{{element.pref}}</td>
        </ng-container>

        <ng-container matColumnDef="services">
          <th mat-header-cell *matHeaderCellDef>services</th>
          <td mat-cell *matCellDef="let element">{{element.services}}</td>
        </ng-container>

        <ng-container matColumnDef="bio/description">
          <th mat-header-cell *matHeaderCellDef>bio/description</th>
          <td mat-cell *matCellDef="let element">{{element.bio}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
            <a (click)="edit(element)">Edit</a> | 
            <a (click)="delete(element)">Delete</a>  
          </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let dancer of dancers; let i = index"
          [class.active]="i == currIndex"
          (click)="setActiveDancer(dancer, i)"
        >
          {{ dancer.name }}
        </li>
      </ul> -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
    </mat-expansion-panel>
    <button (click)="submit()">xd</button>
  </mat-accordion>